:root {
    --color: #f2b94c;
}
.bnner {
    width: 100%;
}
.aside {
    color: #fff;
    height: 40px;
    background-image: url(https://bizweb.dktcdn.net/100/053/643/themes/877493/assets/bg-title.jpg?1662429924636);
    background-repeat: repeat-x;
}
.aside2 {
    position: relative;
}
.item {
    color: #c69c6b;
}
.item:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: all linear 0.3s;
}
.btn_buy {
    border: 1px solid;
    border-radius: 2px;
    color: #fff;
    background-color: var(--color);
}
.btn_buy:hover {
    background-color: #fff;
    color: var(--color);
    transition: all linear 0.3s;
}
.img_hover:hover {
    opacity: 0.7;
    transform: scale3d(1.05, 1.05, 1);
    cursor: pointer;
    transition: all linear 0.3s;
}
